/* Use this file to use your own styles*/
/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Miss+Fajardose&family=Signika:wght@300..700&display=swap');

/* Apply fonts to elements */

/* Styles for the body */

body {
  font-family: 'Signika', sans-serif;
  color: #202030;
  background-color: #f8f8fc;
}

h1 {
  font-family: 'Miss Fajardose', cursive;
	color: #8E0002;
}

p {
  font-family: 'Baskervville', serif;
}

/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {
    background-color: #F0D8FF;
}

.resume-main {
	background-color: #fffefc;
}

.resume-aside {
	background-color: #D3D3D3;
}

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: ">";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.biography-details li::before {
	color: #D80003;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}
.Barbare-Style {
	color: #0D10D2;
}

   